In [1]:
from bokeh.plotting import figure, output_file, show

In [2]:
output_file('my_first_graph.html')

In [3]:
x = [1, 3, 5, 7]
y = [2, 4, 6, 8]

In [6]:
p = figure()

p.circle(x, y, size=10, color='red', legend='circle')
p.line(x, y, color='blue', legend='line')
p.triangle(y, x, color='gold', size=10, legend='triangle')
p.legend.click_policy='hide'
show(p)

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

In [8]:
pwd

'C:\\Users\\212590433\\Vitalyx'

In [10]:
import pandas as pd

df = pd.read_csv('thor_wwii.csv')
print(df)

df.columns.tolist()

           MSNDATE      THEATER COUNTRY_FLYING_MISSION    NAF   UNIT_ID  \
0       03/30/1941          ETO          GREAT BRITAIN    RAF   84 SQDN
1       11/24/1940          ETO          GREAT BRITAIN    RAF  211 SQDN
2       12/04/1940          ETO          GREAT BRITAIN    RAF  211 SQDN
3       12/31/1940          ETO          GREAT BRITAIN    RAF  211 SQDN
4       01/06/1941          ETO          GREAT BRITAIN    RAF  211 SQDN
...            ...          ...                    ...    ...       ...
178276  08/01/1945          PTO                    USA  20 AF     73 BW
178277  07/22/1942          MTO          GREAT BRITAIN    RAF       NaN
178278  08/17/1940  EAST AFRICA          GREAT BRITAIN    RAF   47 SQDN
178279  08/06/1945          PTO                    USA  20 AF    509 CG
178280  08/09/1945          PTO                    USA  20 AF    509 CG

       AIRCRAFT_NAME  AC_ATTACKING TAKEOFF_BASE TAKEOFF_COUNTRY  \
0           BLENHEIM          10.0          NaN             NaN
1           BLENHEIM           9.0          NaN             NaN
2           BLENHEIM           9.0          NaN             NaN
3           BLENHEIM           9.0          NaN             NaN
4           BLENHEIM           9.0          NaN             NaN
...              ...           ...          ...             ...
178276           B29          99.0          NaN             NaN
178277      BLENHEIM           NaN          NaN             NaN
178278     WELLESLEY           6.0      ERKOWIT           SUDAN
178279           B29           1.0          NaN             NaN
178280           B29           1.0          NaN             NaN

        TAKEOFF_LATITUDE  TAKEOFF_LONGITUDE TGT_COUNTRY  TGT_LOCATION  \
0                    NaN                NaN     ALBANIA       ELBASAN
1                    NaN                NaN     ALBANIA       DURAZZO
2                    NaN                NaN     ALBANIA      TEPELENE
3                    NaN                NaN     ALBANIA        VALONA
4                    NaN                NaN     ALBANIA        VALONA
...                  ...                ...         ...           ...
178276               NaN                NaN       JAPAN        TOYAMA
178277               NaN                NaN       EGYPT  MERSA MATRUH
178278             18.75               37.0       SUDAN       KASSALA
178279               NaN                NaN       JAPAN     HIROSHIMA
178280               NaN                NaN       JAPAN      NAGASAKI

        TGT_LATITUDE  TGT_LONGITUDE  TONS_HE  TONS_IC  TONS_FRAG  TOTAL_TONS
0          41.100000      20.070000      0.0      0.0        0.0         0.0
1          41.320000      19.450000      0.0      0.0        0.0         0.0
2          40.300000      20.020000      0.0      0.0        0.0         0.0
3          40.470000      19.490000      0.0      0.0        0.0         0.0
4          40.470000      19.490000      0.0      0.0        0.0         0.0
...              ...            ...      ...      ...        ...         ...
178276     36.700000     137.216667      0.0    999.0        0.0       999.0
178277     31.330000      27.200000      0.0      0.0        0.0      1300.0
178278     15.450000      36.400000   4750.0      0.0        0.0      4750.0
178279     34.400000     132.466667  15000.0      0.0        0.0     15000.0
178280     32.733333     129.866667  20000.0      0.0        0.0     20000.0

[178281 rows x 19 columns]

['MSNDATE',
 'THEATER',
 'COUNTRY_FLYING_MISSION',
 'NAF',
 'UNIT_ID',
 'AIRCRAFT_NAME',
 'AC_ATTACKING',
 'TAKEOFF_BASE',
 'TAKEOFF_COUNTRY',
 'TAKEOFF_LATITUDE',
 'TAKEOFF_LONGITUDE',
 'TGT_COUNTRY',
 'TGT_LOCATION',
 'TGT_LATITUDE',
 'TGT_LONGITUDE',
 'TONS_HE',
 'TONS_IC',
 'TONS_FRAG',
 'TOTAL_TONS']

In [11]:
#column_datasource.py
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool

In [12]:
output_file('columndatasource_example.html')

df = pd.read_csv('thor_wwii.csv')

In [26]:
sample = df.sample(50)
source = ColumnDataSource(sample)

In [28]:
p = figure()
p.circle(x='TOTAL_TONS', y='AC_ATTACKING',
         source=source,
         size=10, color='green')


p.title.text = 'Attacking Aircraft and Munitions Dropped'
p.xaxis.axis_label = 'Tons of Munitions Dropped'
p.yaxis.axis_label = 'Number of Attacking Aircraft'

In [30]:
hover = HoverTool()
hover.tooltips=[
    ('Attack Date', '@MSNDATE'),
    ('Attacking Aircraft', '@AC_ATTACKING'),
    ('Tons of Munitions', '@TOTAL_TONS'),
    ('Type of Aircraft', '@AIRCRAFT_NAME')
]

p.add_tools(hover)

show(p)

In [32]:
#my_first_timeseries.py
import pandas as pd
from bokeh.plotting import figure, output_file, show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral3
output_file('simple_timeseries_plot.html')

df = pd.read_csv('thor_wwii.csv')

#make sure MSNDATE is a datetime format
df['MSNDATE'] = pd.to_datetime(df['MSNDATE'], format='%m/%d/%Y')

# grouped = df.groupby('MSNDATE')['TOTAL_TONS', 'TONS_IC', 'TONS_FRAG'].sum()
# grouped = grouped/1000

# Resampling
grouped = df.groupby(pd.Grouper(key='MSNDATE', freq='M'))['TOTAL_TONS', 'TONS_IC', 'TONS_FRAG'].sum()


source = ColumnDataSource(grouped)

p = figure(x_axis_type='datetime')

p.line(x='MSNDATE', y='TOTAL_TONS', line_width=2, source=source, legend='All Munitions')
p.line(x='MSNDATE', y='TONS_FRAG', line_width=2, source=source, color=Spectral3[1], legend='Fragmentation')
p.line(x='MSNDATE', y='TONS_IC', line_width=2, source=source, color=Spectral3[2], legend='Incendiary')

p.yaxis.axis_label = 'Kilotons of Munitions Dropped'

<ipython-input-32-132136117ccf>:17: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = df.groupby(pd.Grouper(key='MSNDATE', freq='M'))['TOTAL_TONS', 'TONS_IC', 'TONS_FRAG'].sum()
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

In [38]:
from bokeh.models import BoxAnnotation

box_left = pd.to_datetime('6-6-1944')
box_right = pd.to_datetime('16-12-1944')

box = BoxAnnotation(left=box_left, right=box_right,
                    line_width=1, line_color='black', line_dash='dashed',
                    fill_alpha=0.2, fill_color='blue')

p.add_layout(box)

show(p)

In [67]:
from bokeh.plotting import figure, output_file, show
from bokeh.models import LinearAxis, Range1d ,ColumnDataSource, Label, LabelSet


import time
from datetime import datetime as dt

from bokeh.models import Span
from bokeh.plotting import figure, output_file, show
from bokeh.sampledata.daylight import daylight_warsaw_2013


import pandas as pd
import math 

# pandas dataframe
x_column = "x"
y_column1 = "y1"
y_column2 = "y2"

df = pd.DataFrame()
df[x_column] = range(0, 100)
df[y_column1] = pd.np.linspace(100, 1000, 100)
df[y_column2] = pd.np.linspace(1, 2, 100)

# Bokeh plot
output_file("twin_axis.html")

y_overlimit = 0.05 # show y axis below and above y min and max value

p = figure()

# FIRST AXIS
p.line(df[x_column], df[y_column1], legend=y_column1, line_width=1, color="blue")
p.y_range = Range1d(
    df[y_column1].min() * (1 - y_overlimit), df[y_column1].max() * (1 + y_overlimit)
)

# SECOND AXIS
y_column2_range = y_column2 + "_range"
p.extra_y_ranges = {
     y_column2_range: Range1d(
        start=df[y_column2].min() * (1 - y_overlimit),
        end=df[y_column2].max() * (1 + y_overlimit),
    )
}
p.add_layout(LinearAxis(y_range_name=y_column2_range , axis_label="Mt CO2e"), "right")

p.line(
    df[x_column],
    df[y_column2],
    legend=y_column2,
    line_width=1,
    y_range_name=y_column2_range,
    color="green",
    
)


start_date = 20
daylight_savings_start = Span(location=start_date,
                              dimension='height', line_color='green',
                              line_dash='dashed', line_width=3)
p.add_layout(daylight_savings_start)

end_date = 40
daylight_savings_end = Span(location=end_date,
                            dimension='height', line_color='red',
                            line_dash='dashed', line_width=3)
p.add_layout(daylight_savings_end)


show(p)

<ipython-input-67-dd180f4ecb1e>:23: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df[y_column1] = pd.np.linspace(100, 1000, 100)
<ipython-input-67-dd180f4ecb1e>:24: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df[y_column2] = pd.np.linspace(1, 2, 100)
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead

In [54]:
# low_box = BoxAnnotation(top=80, fill_alpha=0.1, fill_color='red')
# mid_box = BoxAnnotation(bottom=80, top=180, fill_alpha=0.1, fill_color='green')
# high_box = BoxAnnotation(bottom=180, fill_alpha=0.1, fill_color='red')

# p.add_layout(low_box)
# p.add_layout(mid_box)
# p.add_layout(high_box)

In [80]:
import random
import pandas as pd
from bokeh.io import show, output_notebook
from bokeh.models import ColumnDataSource, ColorBar, HoverTool, Legend
from bokeh.plotting import figure
from bokeh.palettes import brewer
from bokeh.layouts import row, column, gridplot
from bokeh.models import CustomJS, Slider, Select, Plot, Button, LinearAxis, Range1d, DatetimeTickFormatter
from bokeh.models.glyphs import Line, MultiLine

df = pd.read_excel('https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide.xlsx',engine='openpyxl')
df['dateRep'] = pd.to_datetime(df.dateRep, infer_datetime_format=True)
df = df.sort_values(['countriesAndTerritories','dateRep'])
#find cumulative cases in each country by using groupby-apply
df['cumcases'] = df.groupby(['countriesAndTerritories'])['cases'].apply(lambda x: x.cumsum())
#pivot the table
data = pd.pivot_table(df,index='dateRep',columns='countriesAndTerritories',values='cumcases').reset_index()
summary = df.groupby('countriesAndTerritories').agg({'deaths':np.sum,'cases':np.sum}).reset_index()

In [81]:

source = ColumnDataSource(data)
# create CDS for filtered sources
filt_data1 = data[['dateRep','China']].rename(columns={'China':'cases'})
src2 = ColumnDataSource(filt_data1)
filt_data2 = data[['dateRep','Ireland']].rename(columns={'Ireland':'cases'})
src3 = ColumnDataSource(filt_data2)

hover_tool = HoverTool(tooltips=[
            ('Cases', '@cases'),
            ('Date', '@dateRep')],
            formatters={'dateRep': 'datetime'}
        )

p1 = figure(plot_width=600,plot_height=400,x_axis_type='datetime',
           tools=[hover_tool],title='Sars-CoV-2 cases (ECDC)',y_range=Range1d(start=0, end=filt_data1.cases.max()+50))
p1.line(x='dateRep',y='cases', source=src2, legend_label="country 1", line_color='blue',
        line_width=3,line_alpha=.8)
#set the second y-axis and use that with our second line
p1.extra_y_ranges = {"y2": Range1d(start=0, end=filt_data2.cases.max()+50)}
p1.add_layout(LinearAxis(y_range_name="y2"), 'right')
p1.line(x='dateRep',y='cases', source=src3, legend_label="country 2", line_color='orange',
        line_width=3,line_alpha=.8,y_range_name="y2")

p1.yaxis[0].axis_label = 'China'
p1.yaxis[1].axis_label = 'Ireland'
p1.background_fill_color = "whitesmoke"
p1.background_fill_alpha = 0.5
p1.legend.location = "top_left"
p1.xaxis.axis_label = 'Date'
p1.xaxis.formatter=DatetimeTickFormatter(days="%d/%m",
months="%m/%d %H:%M",
)

In [82]:
#this javascript snippet is the callback when either select is changed
code="""
var c = cb_obj.value;
ax.axis_label = c;
var y = s1.data[c];
s2.data['cases'] = y;
y_range.start = 0;
y_range.end = parseInt(y[y.length - 1]+50);
s2.change.emit();
"""
callback1 = CustomJS(args=dict(s1=source,s2=src2,y_range=p1.y_range,ax=p1.yaxis[0]), code=code)
callback2 = CustomJS(args=dict(s1=source,s2=src3,y_range=p1.extra_y_ranges['y2'],ax=p1.yaxis[1]), code=code)
names = list(df.countriesAndTerritories.unique() )
names_sub=['China','United_Kingdom','United_States_of_America','Spain','Italy',
           'Germany','France','Iran','Australia','Ireland','Sweden','Belgium','Turkey','India']
select1 = Select(title="Country 1:", value='China', options=names_sub)
select1.js_on_change('value', callback1)
select2 = Select(title="Country 2:", value='Ireland', options=names)
select2.js_on_change('value', callback2)
btn = Button(label='Update')

layout = column(row(select1,select2), row(p1))
show(layout)